Django==5.2.7
django-unfold==0.67.0
django-ckeditor-5==0.2.13
django-cors-headers==4.3.1
django-modeltranslation==0.18.11
django-redis==5.4.0
django-rosetta==0.10.0
django-silk==5.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
drf-spectacular-sidecar==2024.3.4
celery==5.4.0
colorama==0.4.6
colorlog==6.9.0
flower==2.0.1
gunicorn==21.2.0
pillow==10.2.0
psycopg2-binary==2.9.9
PyJWT~=2.8.0
Pygments==2.19.1
python-dotenv==1.0.1
uvicorn[standard]==0.37.0
yarl==1.20.0
sentry-sdk[django]>=2.39.0
django-prometheus>=2.4.1
prometheus-client>=0.22.0
