Django
django-unfold
django-ckeditor-5
django-cors-headers
django-modeltranslation
django-redis
django-rosetta
django-silk
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
celery
colorama
colorlog
flower
gunicorn
pillow
psycopg2-binary
PyJWT
Pygments
python-dotenv
uvicorn[standard]
yarl
sentry-sdk[django]
django-prometheus
prometheus-client
telethon